
.choreContainer{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}


li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
}


button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
    background-color: hsl(10, 90%, 50%);
}









